*/bin/*
*/obj/*
*.dll
*.exe
*.mdb
*.out
res/*
Hippocampus.*
res2/*
*.mexa64
*.aux
*.log
*.pdf
*.swp
*/*.swp
conductance.c.*
cachegrind.out.*
Analysis/input/*
Analysis/data/*
Analysis/out/*
pics/*
*.avi
